<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gzcc.CodingGarfield.shopping">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 在SDCard中创建与删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginIntoActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".Maininterface" />
        <activity android:name=".Register2Activity" />
        <activity android:name=".Maininterface2" />
        <activity android:name=".UpdateBusinessActivity" />
        <activity android:name=".AlterUserInformation" />
        <activity android:name=".AlterBusinessInformation" />
        <activity
            android:name=".MainShoppingActivity"
            android:label="@string/title_activity_main3"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".AboutActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Temporary.finaldb"
            android:label="@string/title_activity_finaldb"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Temporary.AlterGoodsActivity"/>
        <activity android:name=".good"/>
    </application>

</manifest>